<div class="row">
  <div class="col-md-12">
    <%= form_for(@db, :html => {class: "form-horizontal",
    role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2 form-elem">
        <%= f.label :name%>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control",
        placeholder: "Enter DB", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit(@db.new_record? ? "Add DB" : "Update DB",
        class: "btn btn-danger btn-lg") %>
      </div>
    </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "DB listing",
      dbs_path %> ]
    </div>
  </div>
</div>