<h1><%= @db.name %></h1>
<% if @db.resources.any? %>
  <h4 align="center">Resouces' containing <%= @db.name %> :</h4>
  <br/>
  <% @db.resources.each do |resource| %>
    <div align="center">
      <p><i class="far fa-check-square check"></i>  <span class="resources-list"><%= resource.name %></span>       
      <%= link_to 'Show', resource %>
      <%= link_to 'Edit', edit_resource_path(resource) %><p>
    </div>
  <% end %>
<% else %>
  <h4 align="center">No resources yet!</h4>
<% end %>