<div class="row">
  <div class="col-md-12">
    <%= form_for(@language, :html => {class: "form-horizontal",
    role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2 form-elem">
        <%= f.label t("languages.form.name") %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, id: "name", class: "form-control",
        placeholder: t("languages.form.placeholder"), autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit(@language.new_record? ? t("languages.form.add") : t("languages.form.update"),
        class: "btn btn-danger btn-lg") %>
      </div>
    </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Language listing",
      languages_path %> ]
    </div>
  </div>
</div>