<h1><%= @language.name %></h1>
<% if @language.resources.count != 0 %>
  <h4 align="center">Resouces' containing <%= @language.name %></h4>
  <% @language.resources.each do |resource| %>
  <h4><%= resource.url %></h4>
  <%= link_to 'Show', resource %>
  <%= link_to 'Edit', edit_resource_path(resource) %>
  <% end %>
<% else %>
  <h4 align="center">No resources yet!</h4>
<% end %>