<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row show-container">
  <div class="offset-2 col-8 ">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @project.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @project.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
      <dd><%= @project.start_date %></dd>
    </dl>

    <%= link_to t('.back', :default => t("helpers.links.back")),
                  projects_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_project_path(@project), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  project_path(@project),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                 :class => 'btn btn-danger' %>
  </div> 
</div>
<br>
<br>
<%- model_class = Resource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="new">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_project_path,
              :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:memo) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:document) %></th>
      <th><%= model_class.human_attribute_name(:updated) %></th>
      <th><%= model_class.human_attribute_name(:languages) %></th>
      <th><%= model_class.human_attribute_name(:technologies) %></th>
      <th><%= model_class.human_attribute_name(:frameworks) %></th>
      <th><%= model_class.human_attribute_name(:databases) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td class="resource-item"><%=link_to resource.name, resource.url%></td>
        <td><%= resource.memo %></td>
        <td><% resource.images.each do |image| %>
          <%= link_to image.filename, rails_blob_path(image, disposition: "attachment") %><br />
        <% end %></td>
        <td><% resource.documents.each do |document| %>
          <%= link_to document.filename, rails_blob_path(document, disposition: "attachment") %><br />
        <% end %></td>
        <td><%= time_ago_in_words(resource.updated_at) %> ago</td>
        <td><% resource.languages.each do |language| %>
        <%= link_to language.name, language_path(language) %>
        <% end %></td>
        <td><% resource.technologies.each do |technology| %>
          <%= link_to technology.name, technology_path(technology) %>
          <% end %></td>
        <td><% resource.frameworks.each do |framework| %>
            <%= link_to framework.name, framework_path(framework) %>
            <% end %></td>
        <td><% resource.dbs.each do |db| %>
            <%= link_to db.name, db_path(db) %>
            <% end %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      resource_path(resource), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_resource_path(resource), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      resource_path(resource),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
