<%= form_for([@project, @resource], :html => { :class => "form-horizontal resource" }) do |f| %>

  <% if @resource.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
    <%=f.error_span(:url) %>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:url) %>
  </div>
  <div class="form-group">
    <%= f.label :memo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :memo, :class => 'form-control' %>
    </div>
    <%=f.error_span(:memo) %>
  </div>
  
  <div class="form-group">
  <%= f.label :images, :class => 'control-label col-lg-2 ' %>
  <div class="col-lg-10">
  <%= f.file_field :images, multiple: true %><br>
  </div>
  <%=f.error_span(:images) %>
  </div>

<div>
  <% if @resource.images.attached? %>
    <% @resource.images.each do |image| %>
    <%= image_tag image, class: "img-form img-elem" %>
    <%= link_to 'Remove', delete_image_attachment_resource_url(image.id),
                method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

  <div class="form-group">
  <%= f.label :documents, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
  <%= f.file_field :documents, multiple: true %><br>
  </div>
  <%=f.error_span(:documents) %>
  </div>

  <div class= "div-form">
  <% if @resource.documents.attached? %>
    <% @resource.documents.each do |document| %>
    <i class="far fa-file"></i>
    <%= link_to document.filename, rails_blob_path(document, disposition: "attachment" ), :class => 'document-elem' %>
    <%= link_to 'Remove', delete_document_attachment_resource_url(document.id),
                method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

  <div class="form-group div-form">
  <%= f.label :languages, :class => 'control-label col-lg-2 elem-label' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%= f.collection_check_boxes :language_ids, 
                                    Language.all, :id, :name do |cb| %>
<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group div-form">
<%= f.label :technologies, :class => 'control-label col-lg-2 elem-label' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%= f.collection_check_boxes :technology_ids, 
                                    Technology.all, :id, :name do |cb| %>
<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group div-form">
  <%= f.label :frameworks, :class => 'control-label col-lg-2 elem-label' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%= f.collection_check_boxes :framework_ids, 
                                    Framework.all, :id, :name do |cb| %>
<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group div-form">
  <%= f.label :databases, :class => 'control-label col-lg-2 elem-label' %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%= f.collection_check_boxes :db_ids, 
                                    Db.all, :id, :name do |cb| %>
<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group project-id-elem">
<%= f.label :project, :class => 'control-label col-lg-2' %>
<div class="col-lg-10">
  <%= f.collection_select :project_id, @projects, :id, :name, :include_blank => true, :class => 'form-control' %>
  </div>
<%=f.error_span(:document) %>
</div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                resources_path, :class => 'btn btn-default' %>
    </div>
  </div>
  
<% end %>
