<%- model_class = Resource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dd><% @resource.images.each do |image| %>
  <%= image_tag image, class: "img-show" %> <br />
  <% end %></dd>
  <dd><% @resource.documents.each do |document| %>
    <%= link_to document.filename, rails_blob_path(document, disposition: "attachment") %><br />
    <% end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @resource.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
  <dd><%= @resource.memo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document) %>:</strong></dt>
  <dd><%= @resource.document %></dd>
    <dt><strong><%= model_class.human_attribute_name(:languages) %>:</strong></dt>
  <dd><% @resource.languages.each do |language| %>
      <%= link_to language.name, language_path(language) %>
      <% end %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              resources_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_resource_path(@resource), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              resource_path(@resource),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
