<h1><%= @framework.name %></h1>
<% if @framework.resources.any? %>
  <h4 align="center"> <%= t("frameworks.show.subtitle")  %> <%= @framework.name %> :</h4>
  <br/>
  <table class="elem-container">
    <tbody class="elem-body">
      <% @framework.resources.each do |resource| %>
      <tr class="row-elem">
        <td class="elem-name"><i class="far fa-check-square check"></i>  <span class="resources-list"><%= resource.name %></span></td>       
        <td class="elem-action">
          <%= link_to t("frameworks.show.show"), resource %>
          <%= link_to t("frameworks.show.edit"), edit_resource_path(resource) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h4 align="center">No resources yet!</h4>
<% end %>