<h1><%= @technology.name %></h1>
<% if @technology.resources.any? %>
  <h4 align="center">Resouces' containing <%= @technology.name %></h4>
  <% @technology.resources.each do |resource| %>
  <h4><%= resource.url %></h4>
  <%= link_to 'Show', resource %>
  <%= link_to 'Edit', edit_resource_path(resource) %>
  <% end %>
<% else %>
  <h4 align="center">No resources yet!</h4>
<% end %>