<h1><%= @technology.name %></h1>
<% if @technology.resources.any? %>
  <h4 align="center">Resouces' containing <%= @technology.name %> :</h4>
  <br/>
  <table class="elem-container">
    <tbody class="elem-body">
      <% @technology.resources.each do |resource| %>
      <tr class="row-elem">
        <td class="elem-name"><i class="far fa-check-square check"></i>  <span class="resources-list"><%= resource.name %></span></td>       
        <td class="elem-action">
          <%= link_to 'Show', resource %>
          <%= link_to 'Edit', edit_resource_path(resource) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h4 align="center">No resources yet!</h4>
<% end %>
